.reviewForm {
  display: flex;
  border-radius: 5px;
}

.reviewForm__submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.reviewForm__submit-button:hover {
  background-color: #0056b3;
}
